<header class="header">
    <nav class="header-nav">
        <div class="avatar">
            <a href="/">
                <img src="/images/photo.png" alt="avatar" />
            </a>
        </div>

        <div class="nav-title">
            <a class="nav-brand" href="/">Kiran Bagul</a>
        </div>

        <div class="nav-links">
            <div class="nav-link">
                <a href="/pages/consulting-services.html">Consulting</a>
            </div>
            <div class="nav-link">
                <a href="/pages/about.html">About me</a>
            </div>

            <div class="nav-link" id="hamburger-menu-toggle">
                <span id="hamburger-menu-toggle-screen-reader-target" class="sr-only">menu</span>
                <a>
                    <span data-feather="menu"></span>
                </a>
            </div>

            <ul class="nav-hamburger-list visibility-hidden">
                <li class="nav-item">
                    <a href="/pages/consulting-services.html">Consulting</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/about.html">About me</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
